@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito';
}

body {
    background-color: #ccc;
}

header {
    height: 100px;
    background-color: blue;
    text-align: center;
    line-height: 100px;
    color: white;
}

header h1 {
    font-size: 2.5rem;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 25px;
}
.appCard {
    height: 150px;
    background-color: blueviolet;
}

.cardTitle {
    height: 115px;
    line-height: 115px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

.cardLink {
    width: 100%;
}

.cardLink button {
    width: 50%;
    height: 35px;
    border: none;
    background-color: transparent;
    border-top: 1px solid white;
}

.cardLink button i {
    font-size: 1.3rem;
    color: white;
}

.cardLink button:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.cardLink button:hover i {
    color: black;
}

.cardLink button:nth-child(2) {
    border-left: 1px solid white;
}

/*CARD COLORS*/

.appCard:nth-child(1) {
    background-color: #DC3E15;
}

.appCard:nth-child(2) {
    background-color: #0061d5;
}

.appCard:nth-child(3) {
    background-color: #0bc5ba;
}

.appCard:nth-child(4) {
    background-color: #0E71EB;
}

.appCard:nth-child(5) {
    background-color: #0E71EB;
}

.appCard:nth-child(6) {
    background-color: #e52920;
}

.appCard:nth-child(7) {
    background-color: #ff0000;
}

.appCard:nth-child(8) {
    background-color: #3eb991;
}