@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito';
}

body {
    background-color: #eee;
}

header {
    height: 75px;
    text-align: center;
    line-height: 75px;
    box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.75);
    background-color: white;
}

header h1 {
    font-size: 2.5rem;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 25px;
}
.appCard {
    height: 150px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.cardTitle {
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

.cardLink {
    width: 100%;
    border-top: none;
}

.cardLink button {
    width: 50%;
    height: 50px;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    border-top: none;
}

.cardLink button:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: 0.3s;
}

.cardLink button i {
    font-size: 1.3rem;
}

.cardLink button:hover i {
    opacity: 0.5;
    transition: 0.3s;
}

/*CARD COLORS*/

.appCard:nth-child(1) {
    border-top:5px solid #DC3E15;
    color: #DC3E15;
}

.appCard:nth-child(2) {
    border-top:5px solid #0061d5;
    color: #0061d5;
}

.appCard:nth-child(3) {
    border-top:5px solid #0bc5ba;
    color: #0bc5ba;
}

.appCard:nth-child(4) {
    border-top:5px solid #0E71EB;
    color: #0E71EB;
}

.appCard:nth-child(5) {
    border-top:5px solid #0E71EB;
    color: #0E71EB;
}

.appCard:nth-child(6) {
    border-top:5px solid #e52920;
    color: #e52920;
}

.appCard:nth-child(7) {
    border-top:5px solid #ff0000;
    color: #ff0000;
}

.appCard:nth-child(8) {
    border-top:5px solid #3eb991;
    color: #3eb991;
}